# This workflow will compile the cobol version of tictactoe

name: cobol

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tictactoe_cobol
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
    - name: Setup Cobol
      uses: fabasoad/setup-cobol-action@main
    - name: Compile.
      run: |
        cobc -x tictactoe_cobol.cob
    - name: Run
      run: |
        ./tictactoe_cobol < input.txt
