# This workflow will run stuff on the eiffel version of tictactoe

name: eiffel

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tictactoe_eiffel
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
    - name: Install Eiffel
      run: |
        echo "deb [trusted=yes] http://apt.liberty-eiffel.org/ release main" | sudo tee -a /etc/apt/sources.list
        echo "deb [trusted=yes] http://gb.archive.ubuntu.com/ubuntu xenial-updates main" | sudo tee -a /etc/apt/sources.list
        sudo apt-get update
        sudo apt-get install liberty-eiffel-all
    - name: Compile
      run: se c -style_warning -all_check TICTACTOE make -o tictactoe
    - name: Run
      run: ./tictactoe --x-strength=4 --o-strength=4
    - name: Check minmax
      run: |
        se c -style_warning -no_check TICTACTOE make -o tictactoe
        ./tictactoe --x-strength=5 --o-strength=5
    - name: Test
      run: se test tests
