# This workflow will run the tests on the haskell version of tictactoe

name: haskell

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tictactoe_haskell
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
    - name: Setup haskell
      uses: haskell-actions/setup@v2
      with:
        ghc-version: '9.10.1'
    - name: Build
      run: cabal build
    - name: Test
      run: cabal test --enable-coverage
    - name: Archive code coverage results
      uses: actions/upload-artifact@v5
      with:
        name: code-coverage-report
        path: ./tictactoe_haskell/dist-newstyle/build/x86_64-linux/ghc-9.10.1/tictactoe-haskell-0.1.0.0/t/testing-tictactoe/hpc/vanilla/html
