# This workflow will run the tests on the java version of tictactoe

name: java

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tictactoe_java
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
    - name: Setup java
      uses: actions/setup-java@v5
      with:
        distribution: 'oracle' # See 'Supported distributions' for available options
        java-version: '22'
        cache: 'maven'
    - name: Check style
      run: mvn checkstyle:check
    - name: Build with Maven
      run: mvn --batch-mode --update-snapshots package
    - name: Test
      run: mvn test
