# This workflow will run theTcl version of tictactoe

name: Tcl

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tictactoe_tcl
    steps:
      - uses: actions/checkout@v6
      - name: Setup Tcl
        run: sudo apt-get install tcl
      - name: Run the game
        run: tclsh tictactoe.tcl 4 4
